.RegisterSuccess {
    align-items: center;
    justify-self: center;
    color: white;
    background: #A5D4D2;
    height: 100vh;
    background-image: url("C:/開発ここ/React/src/commons/img/WelcomePage2.png");
    background-size: cover; /* 背景画像を要素全体に広げる */
    background-position: center; /* 背景画像を中央に配置 */
    display: flex;
    flex-direction: column; /* 子要素を縦に配置 */
    justify-content: center; /* 子要素を中央に配置 */
    font-size:x-large;
}

.RegisterSuccess h1 {
    color: white !important;
    text-shadow: white;
}
ha::first-line {
    color: blueviolet;
}
.first-half {
    color: #F09D71;
}

br + * {
    clear: left;
  }
  

.RegisterSuccess p{
    color: #F09D71;
    background-color: rgba(255, 255, 255, 0.5); /* 薄い背景色を指定 */      
    background-color: rgba(255, 255, 255, 0.78); /* 薄い背景色を指定 */      
    text-align: center;
    margin: 50px;
    margin-top: 200px;
    border-radius: 8px;
    padding-left: 30px;
    padding-right: 30px;
}

.homebutton {
    align-items: center;
    color: #FFFBF9;
    background-color: #F09D71;
    border: none;
    padding: 20px;
    border-radius: 8px;

}