.Start{
    display: flex;
    height: 100%;
    background-color: #ffffff;
    width: 100%;
}

h1{
    display: block ;
    margin-top: 10px;
    font-size: 45px;
    text-align: center;
    margin: 0;
    padding: 0;
    color: white;
}
h2{
    display: block;
    margin-top: 10px;
    font-size: 20px;
    text-align: center;

    color: #F09D71;

}
img{
    display: block;
    width: 40%;
    max-width: 100px;
    margin: auto;

}
.Login {
    margin-top: 30px;
    height: 100%;
}
.login-content{
    display: flex;
    height: 100%,;
        width: 100%;
}
p{
    color: white;
    font-size: 40px;
    text-align: center;
    margin: 0;
    padding: 0;
}
.top{
    background-color: #F09D71;
    height: 100% !important;
}
form{
    display: block;
    width: 50%;
    height: 40%;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}
label{
    display: block;
    font-size: 16px;
    color: #F09D71;
}
input{
    display: block;
    width: 100%;
    height: 40px;
    margin-top: 10px;
    border: 1px solid #F09D71;
    padding: 5px;
}
.left{
    display: block;
    width: 40%;
    height:100%;
}
.button{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    margin: auto;
;
}
button{
    width: 80%;
    display: block;
}
.login-button{
    background-color: #F09D71;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    margin-top: 20px;
}

.register{
    background-color: white;
        border: #F09D71 1px solid !important;
        color: #F09D71;
        border: none;
        border-radius: 5px;
        padding: 10px;
        font-size: 20px;
        margin-top: 20px;
}
.right{
    display: block;
    width: 60%;
}

.right p{
    color: #F09D71;
    font-size: 40px;
    text-align: center;
    font-weight: bolder;
    
}
.right-content{
    width: 80%;
    height: 80%;
    margin: auto;
    background-color: #FFE2AF;
    padding: 30px;
}
.right-content p{
    color: #F09D71;
    font-size: 20px;
    text-align: left;
}