.start-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.start-left {
    width: 40%;
    height: 100vh;

}

.start-header{
    text-align: center;
    background-color:#F09D71;
}
.start-header h1{
    color: white !important;
    font-size: 2.5rem;
    padding: 1rem;
}
.start-header p{
    color: white !important;
    font-size: 1.5rem;
    padding: 1rem;
}
.start-header img {
max-width: 150px;
}
.login-section{
    margin-top: 20px;
}
.login-section h2{
    text-align: center;
    color: #F09D71;
}
.login-form{
    display: flex;
    justify-content: center;
}
.login-form form{
    width: 60%;
    display: block;
}
label{
    display: block;
    color: #F09D71;
    
}
input{
    width: 100%;
    border: #F09D71 1px solid;
    color: black;
    display: block;
}
.login-buttons{
    text-align: center;
}
.login-buttons button{
    display: block;
    text-align: center;
    margin: auto;
    width: 100%;
    background-color: #F09D71;
    color: white;
    padding: 10px;
    border: none;
    margin: 10px;
    cursor: pointer;
    border-radius: 10px;
}
.register-btn{
    background-color: white !important;
    color: #F09D71 !important;
    padding: 10px;
    border: #F09D71 1px solid !important;
    margin: 10px;

    cursor: pointer;
}

.start-right {
    height: 100vh;
    width: 60%;
    padding: 50px;
    text-align: center;
}
.start-right p{
    color: #CB6B39;
    font-size: 30px;
    font-weight: bolder;
}
.info-section{
    text-align: left;
    background-color: #FFE2AF;
    border-radius: 20px;
    padding: 20px;
    margin-top: 70px;
    line-height: 2;
}
.info-section h3{
    color: #CB6B39;
}