.Mypage p{
    text-align: center;
}
.user-profile{
    display: flex;
    justify-content: center;
}
.Mypage .label{
    display: inline-block;
    border-radius: 30px;
    color :white;
    text-align: center;
    line-height: 30px;
    width: 100px;
    height: 30px;
    margin-right: 30px;
    background-color: #F09D71;
} 
.user-profile input{
    height: 30px;
}
.row{
    display: flex;
    text-align: center;
    margin-top: 20px;
}