/* Weather.css */

.weather-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.weather_container {
    background-color: #ffffff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
    width: 90%;
    max-width: 800px;
    text-align: center;
    margin-top: 20px;
    color: #ffffff;
    text-shadow: 1px 1px 0 rgb(36, 36, 36);
    font-weight: bold;

}

.weather-button {
    background-color: #3498db;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.weather-button:hover {
    background-color: #2980b9;
}

.weather-section {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    background: #f9f9f9;
}

.weather-section.active {
    display: block;
    background-image: url(../../../commons/img/Notweather1.png);
    background-position: center; 
    height: auto;
    width: 100%;
    background-repeat: no-repeat;
}

.top-text {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.weather_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather_week {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.day {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #508fa47f;
    padding: 10px;
    border-radius: 10px;
    width: 100px;
    margin: 5px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}


.day img {
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
}

.date {
    font-size: 14px;
    color: #7f8c8d;
    margin-top: 5px;
}